.garden-wrapper {
    display: flex;
    background-color: var(--background-color);
    flex-direction: column;
    margin-top: 85px;
    justify-content: center;
    height: 100%;
}

.garden-title {
    font-size: 60px;
    margin: 0 auto;
    margin-top: 80px;
    color: rgba(40, 100, 40, 0.993);
}

.garden-body {
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.garden-items-wrapper {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 30px;
}

.garden-wrapper .info-and-picture {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.garden-wrapper .plant-img {
    height: 75px;
    width: 75px;
}

.plus {
    width: 20%;
    height: 300px;
    display: flex;
    justify-content: center;
    padding: 3px;
    margin: 26px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 0.6rem 0px;
    background-color: rgba(107, 189, 107, 0.411);
}

.garden-wrapper .plant-index-item, .plus {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(40, 100, 40, 0.644);
    background: rgba(92, 201, 92, 0.685);
}

.garden-wrapper .plant-index-item:hover {
    background: rgba(85, 167, 85, 0.699);
    color: rgb(55, 100, 55);
    cursor: pointer; 
}

.plus p {
    font-size: 70px;
}

.plus:hover {
    background: rgba(85, 167, 85, 0.699);
    color: rgb(55, 100, 55);
    cursor: pointer;
}

