.garden-outer-wrapper {
    display: flex;
    justify-content: center;
}

.garden-inner-wrapper {
    display: flex;
    flex-direction: column;
}

.garden-header {
    display: flex;
    flex-direction: row;
}