.plant-wrapper{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    background-color: rgba(131, 182, 131, 0.11);
}

.middle-plant-wrapper{
    margin-top: 80px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.plant-index-item{
    width: 20%;
    height: 300px;
    display: flex;
    justify-content: center;
    padding: 3px;
    margin: 26px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 0.6rem 0px;
    background-color: rgba(107, 189, 107, 0.13);
}