.plant-wrapper{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    background-color: rgba(131, 182, 131, 0.11);
}

.middle-plant-wrapper{
    margin-top: 80px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.plant-index-item{
    width: 20%;
    min-width: 250px;
    height: 300px;
    margin: 26px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 0.3rem 0px;
    background-color: var(--item-background-color)
}

.plant-index-item-plus{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200px;
    background-color: rgba(0, 136, 72, 0.432);
    color: rgb(255, 255, 255);
    border-radius: 3px;
}

.plant-index-item:hover{
    background-color: rgba(173, 204, 190, 0.089);
    cursor: pointer; 

}
.plant-item-hover{
    display: flex;
    justify-content: center;
    width:100%;
}
.plant-index-item-contents{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left:20px;
    padding-right:20px;
}
.img-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 18px;
}
.plant-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}
.plant-name{
    text-align: center;
    font-weight: 600;
    color: var(--text-color);
    text-decoration: none;
}
.plant-latin-name{
    text-align: center;
    font-style: italic;
    color: var(--text-color);
    opacity: 50%;
    text-decoration: none;
}
.plant-name:hover, .plant-latin-name:hover{
    text-decoration: underline;
}
