.plant-show-wrapper-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(131, 182, 131, 0.11);
}

.plant-show-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  width: 70%;
}

.plant-show-img-wrapper {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  width: 40%;
  height: 400px;
  padding: 25px;
  margin-right: 20px;
  border: 1px solid rgba(129, 138, 8, 0.336);;
  border-radius: 5px;
  background-color: rgba(146, 156, 9, 0.11);
}

.plant-show-img {
  width: auto;
  height: 90%;
}

.plant-show-info-wrapper {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  justify-content: center;
  width: 40%;
  height: 80%;
  max-height: 700px;
  padding: 25px;
}

.plant-show-info-item-wrappers  {
  margin: 7.5px;
  /* font-weight: 700; */
}

.plant-show-h1, .plant-show-p {
  text-align: left;
}

.plant-show-h1.name, .plant-show-h1.water, .plant-show-h1.soil, .plant-show-h1.misc {
  font-weight: 700;
}


.plant-show-h1.name {
  /* font-weight: 700; */
  font-size: 24px;
}

.plant-show-h1.latin-name {
  font-style: italic;
}

.add-owned-plant-button {
  color: #2b4624;
  padding: 10px 10px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid  #2b4624;
  border-radius: 4px;
  display: inline-block;
  background-color: rgba(144, 238, 144, 0.205);
}

.add-owned-plant-button:hover {
  border-color: rgb(76, 136, 76);
  color: rgb(41, 97, 41);
  background-color: rgba(109, 196, 109, 0.623);
  
}