.signup-form-container{
    display: flex;
    height: 100%;
}
.signup-form{
    margin-top: 65px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    border: 1px solid rgb(217, 230, 218);
    border-radius: 5px;
    padding: 30px;
    background-color: white;
    box-shadow: rgba(0, 0, 1, 0.3) 2px 2px 0.9rem 0px;
}

.signup-form, .plantr{
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .5s;
}


@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.input-session{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1.5px solid rgb(153, 168, 84);
    box-sizing: border-box;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(56, 77, 58);
    height: 55px;
    font-size: 16px;
}

.input-session:hover {
    background: rgba(192, 240, 192, 0.103);
}

.input-session:focus {
    background: rgba(192, 240, 192, 0.322);
    border: 2px solid rgb(123, 136, 67);
    
}

.input-session-submit{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: rgba(27, 185, 61, 0.692);
    color: rgb(255, 255, 255);
    height: 55px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.input-session-submit:hover {
    cursor: pointer;
    background: rgba(21, 151, 49, 0.836);
}

.input-session-submit:active {
    background: rgba(17, 124, 40, 0.795);
}

.session-title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgba(27, 185, 61, 0.753);
    padding-bottom: 30px;
    font-size: 24px;
}

.session-title:hover {
    cursor: default;
}

button:hover{
    cursor: pointer;
}

button{
    outline: none;
}
input{
    outline: none;

}
textarea{
    outline: none;
}