
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    --background-color: rgba(255, 255, 255, 0.11);
    --item-background-color: rgba(255, 255, 255, 0.13);
    --text-color: rgb(30, 36, 31);
}

.plantr{
    height: 100%;
    display: flex;
    flex-direction: column; 
}

body,html{
    height: 100%;
}

#root{
    height: 100%;
}

.homepage{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.navbar{
    width: 100%;
    height: 64px;
    
    background-color: #fad646;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0.625rem 0px;
}
.nav-stuff{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-prompts{
    margin-left: 40px;
}

.signup {
    color: #2b4624;
    padding: 10px 10px;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: transparent; 
}

.signup:hover {
    color: rgb(76, 136, 76);
}

.signout:hover {
    border-color: rgb(76, 136, 76);
    color: rgb(76, 136, 76);

}

.signout{
    color: #2b4624;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid  #2b4624;
    border-radius: 4px;
    display: inline-block;
}

.main-content{
    display: flex;
    height: 100%;
    width: 100%;
}
.image-background{
    height:auto ;
    background-image: url(https://grimeo-seeds.s3.amazonaws.com/plantrbackground.png) ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-size: cover;
}
.plantr-center-wrapping{
    align-items: center;
}
.plantr-logo{
    height: 100px;
    width: 100px;
    background-image: url(https://image.flaticon.com/icons/svg/1030/1030154.svg);
    opacity: 100%;
}
.plantr-text-logo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 15px;
    font-size: 25px;
    color: #2b4624;
    opacity: 100%;
    font-weight: bold;
    text-decoration: none;
    margin-left: 100px;
}


.plantr-logo{
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

.plantr{
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.75s;
}
